<!--
    Author: Jelena Cvetic 2020/0305
    Html page for login.
-->
{% extends 'template.html' %}
{% block title %}Prijavite se{% endblock %}
{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate">
                <form action="#" id="loginForm" method="post">
                    <div class="row justify-content-center" style="color: #b7472a; font-weight: bold">
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">Email adresa</label>
                                <input type="text" class="form-control" name = "email" required>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="password-container">
                                <label for="password">Lozinka</label>
                                <input type="password" class="form-control" name = "password" required id="passwordInput">
                                <i onclick="togglePass('passwordInput')" id = "toggle-password" class="fas fa-eye" style="position: absolute;top: 70%;right: 25px;transform:translateY(-45%);cursor: pointer"></i>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <a href="/user/resetPassword">Zaboravili ste lozinku?</a>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <div class="pt-1 mb-4">
                                <button class="btn btn-lg btn-block" type="submit"
                                        style="background-color: #b7472a; color: white">Prijavi se
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            Nemate nalog? Registrujte se kao <a href="registerUser">kupac</a> ili kao <a
                                href="registerProducer">proizvođač.</a>
                        </div>
                        <div class="col-md-3"></div>
                    </div>


                </form><!-- END -->
            </div>

        </div>
    </div>
</section>

{% endblock %}
