<!--
    Author: Aleksa Boricic 2020/0294
    Html page used to display messages.
-->

{% extends "template.html" %}
{% block title %}
    Obavestenje
{% endblock %}
{% block content %}
    <div class="row justify-content-center" style="height: 100%">
        <div class="col text-center">
            <h2>
            {{ message_body }}
            </h2>
        </div>

    </div>
    <div class="row justify-content-center">
    <button class="btn" style="background-color: #b7472a; color: white;">
        <a href="/user/add/myStore" style="color: white">
        Vrati se nazad u moju prodavnicu
        </a>
        </button>
    </div>
{% endblock %}
</script>