{% extends "template.html" %}
{% load static %}
{% block title %}
    {{ vinarija.javnoime }}
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <form action="/shopping/reservationVisitDone" method="post">
                <div class="row">
                    <div class="col-lg-8">
                        {% csrf_token %}
                        {% for obilazak in obilasci %}
                            <div class="form-check">
                                <input class="form-check-input1" type="radio" name="obilazak" value="{{ obilazak.id }}">
                                <label class="form-check-label">
                                    <h3 style="display:inline">{{ obilazak.naziv }} </h3>
                                    <span class="price" style="display:inline; font-size: large;">{{ obilazak.cena }}.00 RSD</span>
                                </label>
                                <p>{{ obilazak.opis }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4 mb-5 ftco-animate" style="margin-left: auto; margin-right: auto;">
                        <a href="{{ slika }}" class="image-popup"><img src="{{ slika }}" class="img-fluid"
                                                                       alt="Vinarija"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            {% for somelijer in somelijeri %}
                                <div class="col-md-4">
                                    <div class="card" style="width: 200px;">
                                        <img src="{% static "" %}{{ somelijer.slika }}" alt="Card image"
                                             class="card-img-top">
                                        <div class="card-boy text-center">
                                            <h4 class="card-title">{{ somelijer.ime }}</h4>
                                            <p class="card-text">{{ somelijer.biografija }}</p>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <label class="checkbox-wrap checkbox-primary">
                                            <input type="checkbox" name="somelijer" value="{{ somelijer.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="datepicker form-outline mb-4 form-group text-center">
                            <label for="birthDate">Datum obilaska</label>
                            <input type="date" class="form-control form-control-lg">
                        </div>
                        <div class="row mt-4 product-details pl-md-5 ftco-animate">
                            <p>Broj ljudi</p>
                            <div class="input-group col-md-8 d-flex mb-3 text-center"
                                 style="margin-left: auto; margin-right: auto;">
                                <span class="input-group-btn mr-2">
                                    <button type="button" class="quantity-left-minus btn" data-type="minus"
                                            data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </span>
                                <input type="text" id="quantity" name="quantity"
                                       class="quantity form-control input-number"
                                       value="1" min="1" max="20">
                                <span class="input-group-btn ml-2">
                                    <button type="button" class="quantity-right-plus btn" data-type="plus"
                                            data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 px-5 mr-2">Rezerviši</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}