{% extends "template.html" %}
{% load static %}
{% block title %}
    Pregled proslava
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-4">
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <h4 class="product-select">Filtriraj</h4>
                            <select class="selectpicker" multiple>
                                <option>Belo vino</option>
                                <option>Crveno vino</option>
                                <option>Roze</option>
                            </select>
                        </div>
                    </div>
                    {% for red in proslave %}
                        <div class="row">
                            {% for proslava in red %}
                                <div class="col-md-4 d-flex">
                                    <div class="product ftco-animate">
                                        <div class="img d-flex align-items-center justify-content-center"
                                             style="background-image: url('{% static  "" %}{{ proslava.slika }}');">
                                            <div class="desc">
                                                <p class="meta-prod d-flex">
                                                    <a href="#"
                                                       class="d-flex align-items-center justify-content-center"><span
                                                            class="flaticon-shopping-bag"></span></a>
                                                    <a href="{% url 'oneCelebration' value=0 %}{{ proslava.ime }}"
                                                       class="d-flex align-items-center justify-content-center"><span
                                                            class="flaticon-visibility"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="text text-center">
                                            <h2>{{ proslava.ime }}</h2>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>

{% endblock %}