{% extends "template.html" %}
{% load static %}
{% block title %}
    Pregled vina
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-4">
                        <div class="col-md-12 d-flex justify-content-between align-items-end">
                            <form method="post" name="forma">
                                {% csrf_token %}
                                <select class="selectpicker" name="filter" id="filter">
                                {% if filter %}
                                    <option selected>{{ filter}}</option>
                                    <option value="" >Sva vina</option>
                                {% else %}
                                    <option value="" selected disabled>Izaberi opciju</option>
                                {% endif %}

                                    {% for tag in tagovi %}
                                        <option>{{ tag }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-primary py-3 px-5 mr-2" type="submit" value="filter"
                                        name="formButton">Filtriraj
                                </button>

                                <select class="selectpicker" name="sort" id="sort">
                                    {% if sort %}
                                        <option value="">Podrazumevani redosled</option>
                                        <option selected>{{ sort }}</option>
                                        <option>{{ sort1 }}</option>
                                    {% else %}
                                        <option value="" selected disabled>Izaberi opciju</option>
                                        <option>Po ceni opadajuce</option>
                                        <option>Po ceni rastuce</option>
                                    {% endif %}
                                </select>
                                <button class="btn btn-primary py-3 px-5 mr-2" type="submit" value="sort"
                                        name="formButton">Sortiraj
                                </button>
                            </form>
                        </div>
                    </div>
                    {% for red in vina %}
                        <div class="row">
                            {% for vino in red %}
                                <div class="col-md-4 d-flex">
                                    <div class="product ftco-animate">
                                        <div class="img d-flex align-items-center justify-content-center"
                                             style="background-image: url('{% static '' %}{{ vino.slika }}');">
                                            <div class="desc">
                                                <p class="meta-prod d-flex">
                                                    <a href="#"
                                                       class="d-flex align-items-center justify-content-center"><span
                                                            class="flaticon-shopping-bag"></span></a>
                                                    <a href="{% url 'wine' value=0 %}{{ vino.id }}"
                                                       class="d-flex align-items-center justify-content-center"><span
                                                            class="flaticon-visibility"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="text text-center">
                                            <span class="category"
                                                  style="text-transform: capitalize">{{ vino.naziv }}</span>
                                            <h2>{{ vino.naziv }}</h2>
                                            <p class="mb-0"><span class="price">{{ vino.cena }}.00 RSD</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
