{% extends "template.html" %}
{% load static %}
{% block title %}
    Pregled obilazaka
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-4">
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <form method="post">
                                {% csrf_token %}
                                <select class="selectpicker" name="filter">
                                    <option value="" selected disabled>Izaberi opciju</option>
                                    <option>Ima somelijera</option>
                                    <option>Nema somelijera</option>
                                </select>
                                <button class="btn btn-primary py-3 px-5 mr-2" type="submit">Filtriraj</button>
                            </form>
                        </div>
                    </div>
                    {% for red in obilasci %}
                        <div class="row">
                            {% for obilazak in red %}
                                <div class="col-md-4 d-flex">
                                    <div class="product ftco-animate">
                                        <div class="img d-flex align-items-center justify-content-center"
                                             style="background-image: url('{% static  "" %}{{ obilazak.slika }}');">
                                            <div class="desc">
                                                <p class="meta-prod d-flex">
                                                    <a href="{% url 'oneDetour' value=0 %}{{ obilazak.ime }}"
                                                       class="d-flex align-items-center justify-content-center"><span
                                                            class="flaticon-visibility"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="text text-center">
                                            <h2>{{ obilazak.ime }}</h2>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>

{% endblock %}