{% extends "template.html" %}
{% block title %}
Promena informacija naloga
{% endblock %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate">
                <form action="#" id="changeInfoUser" method="post">
                    {% csrf_token %}
                    <div class="row justify-content-center" style="color: #b7472a; font-weight: bold">
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="row">
                        {% if user.groups.all.0.name == "Kupci" %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Ime koje se prikazuje</label>
                                <input type="text" class="form-control" placeholder="{{ showName }}" name = "showName">
                                <label style="font-size: 12px">Ovo je kako će vaše ime biti prikazano u odeljku naloga i
                                    u
                                    recenzijama</label>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address">Adresa</label>
                                <input type="text" class="form-control" placeholder="{{ address }}" name = "address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phoneNumber">Broj telefona</label>
                                <input type="text" class="form-control" placeholder="{{ phoneNumber }}" name = "phoneNumber" pattern="\+3816\d{7,8}" title="Broj telefona je u formatu +3816...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 style="color: #b7472a">Promena lozinke</h5>
                            <div class="form-group">
                                <label for="currPass">Trenutna lozinka</label>
                                <input type="password" class="form-control" id="passwordInput" name = "currentPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Lozinka mora da sadrži minimalno 8 karaktera i najmanje 1 cifru, 1 malo slovo i 1 veliko slovo">
                                <i onclick="togglePass('passwordInput')" id = "toggle-password" class="fas fa-eye" style="position: absolute;top: 80%;right: 25px;transform:translateY(-125%);cursor: pointer"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="currPass">Nova lozinka</label>
                                <input type="password" class="form-control" id="passwordInput1" name = "newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Lozinka mora da sadrži minimalno 8 karaktera i najmanje 1 cifru, 1 malo slovo i 1 veliko slovo">
                                <i onclick="togglePass('passwordInput1')" id = "toggle-password" class="fas fa-eye" style="position: absolute;top: 60%;right: 25px;transform:translateY(-45%);cursor: pointer"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="currPass">Potvrdite novu lozinku</label>
                                <input type="password" class="form-control" id="passwordInput2" name = "newPasswordSubmit" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Lozinka mora da sadrži minimalno 8 karaktera i najmanje 1 cifru, 1 malo slovo i 1 veliko slovo">
                                <i onclick="togglePass('passwordInput2')" id = "toggle-password" class="fas fa-eye" style="position: absolute;top: 60%;right: 25px;transform:translateY(-45%);cursor: pointer"></i>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="pt-1 mb-4">
                                <button class="btn btn-lg btn-block" type="submit"
                                        style="background-color: #b7472a; color: white">Sačuvaj izmene
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div> <!-- .col-md-8 -->
    </div>
</section>


{% endblock %}
