<!--
    Author: Jovana Mitic 2020/0315
    Html page for displaying certain wine and leaving reviews
-->

{% extends "template.html" %}
{% load static %}
{% block title %}
    {{ vino.naziv }}
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    <a href="{% static  "" %}{{ vino.slika }}" class="image-popup"><img
                            src="{% static '' %}{{ vino.slika }}" class="img-fluid"
                            alt="{{ vino.slika }}"></a>
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3>{{ vino.naziv }}</h3>
                    <div class="rating d-flex">
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2">5.0</a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                        </p>
                    </div>
                    <p class="price"><span>{{ vino.cena }}.00 RSD</span></p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                        is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it
                        would have been rewritten a thousand times and everything that was left from its origin would be
                        the word "and" and the Little Blind Text should turn around and return to its own, safe country.
                    </p>
                    {% if user.groups.all.0.name != "Proizvodjaci" %}
                        <div class="row mt-4">
                            <div class="input-group col-md-6 d-flex mb-3">
                                <span class="input-group-btn mr-2">
                                    <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </span>
                                <input type="text" id="quantity" name="quantity" class="quantity form-control input-number"
                                       value="1" min="1" max="100">
                                <span class="input-group-btn ml-2">
                                    <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <button id="addWineButton" class="btn btn-primary px-5 mr-2 pb-3" data-item-id="{{ vino.id }}">Dodaj u korpu</button>
                        <p class="py-2" alert-dismissible id="confirmationText" style="display: none; color: #b04023;">
                        Uspešno ste dodali artikl u korpu.</p>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12 nav-link-wrap">
                    <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill"
                           href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Tag</a>
                        <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"
                           role="tab" aria-controls="v-pills-3" aria-selected="false">Recenzije</a>
                    </div>
                </div>

                <div class="col-md-12 tab-wrap">

                    <div class="tab-content bg-light" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                             aria-labelledby="day-1-tab">
                            <div class="p-4" style="background-color: white">
                                {% for t in tag %}
                                    <button class="dugme" disabled>{{ t }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                            <div class="row p-4">
                                <div class="col-md-7">
                                    <h3 class="mb-4">{{ recenzije|length }} Recenzije</h3>
                                    <div class="review">
                                        <div class="user-img"
                                             style="background-image: url({% static 'images/user.png' %})"></div>
                                        <div class="desc">
                                            <h4>
                                                <span class="text-left">Name</span>
                                            </h4>
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="toRate">
                                                        <input type="radio" id="star5" name="rate" value="5"/>
                                                        <label for="star5" title="text"></label>
                                                        <input type="radio" id="star4" name="rate" value="4"/>
                                                        <label for="star4" title="text"></label>
                                                        <input type="radio" id="star3" name="rate" value="3"/>
                                                        <label for="star3" title="text"></label>
                                                        <input type="radio" id="star2" name="rate" value="2"/>
                                                        <label for="star2" title="text"></label>
                                                        <input type="radio" id="star1" name="rate" value="1"/>
                                                        <label for="star1" title="text"></label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="recenzija" maxlength="20">
                                                </div>
                                                <div class="row">
                                                    <button class="sub" type="submit" id="submit">Posalji
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    {% for rec in recenzije %}
                                        <div class="review">
                                            <div class="user-img"
                                                 style="background-image: url({% static 'images/user.png' %})">
                                            </div>
                                            <div class="desc">
                                                <h4>
                                                    <span class="text-left">{{ rec.ime }}</span>
                                                </h4>
                                                <p class="star">
                                                <span>
                                                    {% for o in rec.ocena %}
                                                        <i class="fa fa-star"></i>
                                                    {% endfor %}
                                                </span>
                                                </p>
                                                <p>{{ rec.tekst }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}