.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #b7472a;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #b7472a;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #b7472a;
}

.carousel-item img {
    object-fit: cover;
    height: 300px;
    width: 500px;
}

.dugme{
  border: 2px solid #b7472a;
  background-color: white;
  color: #b7472a;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.sub{
  border: 2px solid #b7472a;
  background-color: #b7472a;
  color: white;
  padding: 10px 16px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}