.toRate{
  transform: rotateY(180deg);
}

.toRate input{
  display: none;
}
.toRate label{
  cursor: pointer;
  width: 20px;
}

.toRate label:before{
  content: '\f005';
  font-family: FontAwesome, serif;
  position: relative;
  display: block;
}
.toRate label:after{
  content: '\f005';
  font-family: FontAwesome, serif;
  position: absolute;
  top: 0px;
  display: block;
  color: #b7472a;
  opacity: 0;
}

.toRate label:hover:after,
.toRate label:hover ~ label:after,
.toRate input:checked ~ label:after{
  opacity: 1;
}

.carousel-item img {
    object-fit: cover;
    height: 300px;
    width: 500px;
}

.dugme{
  border: 2px solid #b7472a;
  background-color: white;
  color: #b7472a;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.sub{
  border: 2px solid #b7472a;
  background-color: #b7472a;
  color: white;
  padding: 10px 16px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}