{% extends 'emails/templateMail.html' %}
{% block content %}
    <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
        Vaša rezervacija obilaska vinarije u "Enciklopedija vina":
    </h1>
    <span style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr>
                            <th>&emsp;</th>
                            <th>Vinarija</th>
                            <th>&emsp;</th>
                            <th>Paket</th>
                            <th>&emsp;</th>
                            <th>Datum</th>
                            <th>&emsp;</th>
                            <th>Broj ljudi</th>
                            <th>&emsp;</th>
                            <th>Cena po osobi</th>
                            <th>&emsp;</th>
                            <th>Angažovani somelijeri</th>
                            <th>&emsp;</th>
                            <th>Doplata somelijera</th>
                            <th>&emsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="alert" role="alert">
                            <td></td>
                            <td>{{ place }}</td>
                            <td></td>
                            <td>
                                <div>
                                    <h3>{{ packageName }}</h3>
                                </div>
                                <div>
                                    {{ packageDesc }}
                                </div>
                            </td>
                            <td></td>
                            <td>{{ date }}</td>
                            <td></td>
                            <td>{{ numPeople }}</td>
                            <td></td>
                            <td>{{ price }}</td>
                            <td></td>
                            <td>
                                {% for somelier in someliers %}
                                    <div>{{ somelier }}</div>
                                {% endfor %}
                            </td>
                            <td></td>
                            <td>{{ somelierPrice }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="justify-content-end">
                <div class="cart-total mb-3">
                    <h3>Ukupna cena</h3>
                    <p class="d-flex">
                        <span>IZNOS:</span>
                        <span>{{ priceTotal }}</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}